  <br>

  <h1 class="text-center">Biodiversité à Louvain-La-Neuve</h1>

  <img src="../../../assets/img/ephec.jpg" class="img-fluid">

  <div class="plainText">

    <div class="text-center">
      <h2>Description du projet:</h2>
      <p>
        Dans le cadre d’un projet de protection de l’environnement à Louvain-la-Neuve,
        L’UCL souhaite mettre en place un système de parcours "découverte de la faune et de la flore" dans la ville et ses environs pour sensibiliser les personnes à la biodiversité.
      </p>
    </div>

    <div class="text-center">
      <h2>Besoins du client:</h2>
      <ul>
        <li>Une page web mise en ligne doit pouvoir servir d'interface à une API de gestion de données.</li>
        <li>Une liste des points d'intérêt et de parcours prédéfinis doit pouvoir être visualisable.</li>
        <li>Une carte doit permettre de se rendre aux points en question ou de faire un trajet prédéfini.</li>
        <li>Une page d'administration doit être accessible afin de manipuler les données de la base de données par l'intermédiaire de l'API.</li>
      </ul>
    </div>

    <h2 class="text-center">Ce travail a été réalisé par:</h2>
    <mat-list>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/guillaume.jpg">
        <p matLine>Guillaume Lemer</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/arnaud.jpg">
        <p matLine>Arnaud Nilens</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/louis.jpg">
        <p matLine>Louis Brochet</p>
      </mat-list-item>
    </mat-list>

  </div>
