  <br>

  <h1>Biodiversité à Louvain-La-Neuve</h1>

  <img src="../../../assets/img/ephec.jpg" class="img-fluid">

  <div class="plainText">

    <div class="text-center">
      <h2>Description du projet:</h2>
      <p>
        Dans le cadre d’un projet de protection de l’environnement à Louvain-la-Neuve,
        L’UCL souhaite mettre en place un système de parcours "découverte de la faune et de la flore" dans la ville et ses environs pour sensibiliser les personnes à la biodiversité.
      </p>
    </div>

    <h2>Besoins du client:</h2>
    <mat-list>
      <mat-list-item>Une page web mise en ligne doit pouvoir servir d'interface à une API de gestion de données.</mat-list-item>
      <mat-list-item>Une liste des points d'intérêt et de parcours prédéfinis doit pouvoir être visualisable.</mat-list-item>
      <mat-list-item>Une carte doit permettre de se rendre aux points en question ou de faire un trajet prédéfini.</mat-list-item>
      <mat-list-item>Une page d'administration doit être accessible afin de manipuler les données de la base de données par l'intermédiaire de l'API.</mat-list-item>
    </mat-list>

    <h2>Ce travail a été réalisé par:</h2>
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar src="../../../assets/img/guillaume.jpg">
        <p mat-line> Guillaume Lemer</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="../../../assets/img/arnaud.jpg">
        <p mat-line> Arnaud Nilens</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="../../../assets/img/louis.jpg">
        <p mat-line> Louis Brochet</p>
      </mat-list-item>
    </mat-list>

  </div>
