<mat-card class="point-card" *ngIf="ready">
  <mat-card-header>
    <mat-card-title>{{point.namePoint}}</mat-card-title>
    <mat-card-subtitle *ngIf="point.vernaculairePoint">{{point.vernaculairePoint}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image id="imageHeader" [src]="this.wikiDescImg">
  <mat-card-content>
    <p>
      {{point.descriptionPoint}}
    </p>
    <p *ngIf="this.wikiDesc">
      <u>Description Wikipedia : </u><br>
      {{wikiDesc}}
    </p>
    <p id="wiki"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="goToWiki(point.namePoint)">Page Wikipedia</button>
    <button mat-stroked-button (click)="addToRoute()">Ajouter à ma route</button>
    <button mat-stroked-button (click)="dissmissSheet()">fermer</button>
  </mat-card-actions>
</mat-card>
