<div class="container-fluid">
  <div class="row">
    <!-- Bare de navigation collapsing-->
    <div class="col-sm-1">
      <nav class="navbar navbar-light">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navBarPanel" aria-expanded="false" aria-controls="navbar">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <!-- nav part-->
        <div class="navbar-collapse collapse" id="navBarPanel">
          <ul class="navbar-nav">
            <li class="nav-item" routerLink="/home"><fa-icon [icon]="faHome"></fa-icon> Home</li>
            <li class="nav-item" routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</li>
            <li class="nav-item" routerLink="/pointList"><fa-icon [icon]="famMapMakerAlt"></fa-icon> Points</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

