<<<<<<< HEAD
=======
div {
  padding: 0 5px 0 5px;
}

.navbar {
  background-color: lightgray;
  color: #4CAF50;
}

.nav-item {
  padding: 2px 0 2px 0;
}
>>>>>>> a04e014a13a73e51a796d98c57ac77023b7890bf
