<mat-toolbar style="background-color: #43A047; color: white">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/home"><fa-icon [icon]="faHome" style="color: #43A047"></fa-icon> Home</button>
    <button mat-menu-item routerLink="/pointList"><fa-icon [icon]="faMapPin" style="color: #43A047"></fa-icon> Points</button>
    <button mat-menu-item routerLink="/map"><fa-icon [icon]="faMapMarkedAlt" style="color: #43A047"></fa-icon> Map</button>
    <button mat-menu-item routerLink="/parcours-select"><fa-icon [icon]="faRoute" style="color: #43A047"></fa-icon> Parcours</button>
    <button id="admin" mat-menu-item routerLink="/admin" *ngIf="currentUser.username === 'admin'"><fa-icon [icon]="faCog" style="color: #43A047"></fa-icon> AdminPage</button>
    <button id="logout" mat-menu-item (click)="logout()"><fa-icon [icon]="faSignOutAlt" style="color: #43A047"></fa-icon> Logout</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon >menu</mat-icon>
  </button>
  <button mat-icon-button (click)="openCam()"><fa-icon [icon]="faCamera" style="color: white"></fa-icon></button>

  <span class="fill"></span>

  <span id=user" style="color: white;"></span>

</mat-toolbar>
