<mat-toolbar>
  <span>Administration du site</span>
</mat-toolbar>
<mat-form-field style="width: 80%; left: 10% ">
<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" style="horiz-align: center">
</mat-form-field>
<cdk-virtual-scroll-viewport itemSize="10" class="viewport">
<table mat-table [dataSource]="pointsList" style="width: 100%">
  <ng-container matColumnDef="idPoint">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let point"> {{point.idPoint}} </td>
  </ng-container>

  <ng-container matColumnDef="namePoint">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let point"> {{point.namePoint}} </td>
  </ng-container>

  <ng-container matColumnDef="vernaculairePoint">
    <th mat-header-cell *matHeaderCellDef> Nom Vern. </th>
    <td mat-cell *matCellDef="let point"> {{point.vernaculairePoint}} </td>
  </ng-container>

  <ng-container matColumnDef="descriptionPoint">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let point"> {{point.descriptionPoint}} </td>
  </ng-container>

  <ng-container matColumnDef="latitudePoint">
  <th mat-header-cell *matHeaderCellDef> Latitude </th>
  <td mat-cell *matCellDef="let point"> {{point.latitudePoint}} </td>
  </ng-container>

  <ng-container matColumnDef="longitudePoint">
    <th mat-header-cell *matHeaderCellDef> Longitude </th>
    <td mat-cell *matCellDef="let point"> {{point.longitudePoint}} </td>
  </ng-container>

  <ng-container matColumnDef="disponiblePoint">
    <th mat-header-cell *matHeaderCellDef> Accessible </th>
    <td mat-cell *matCellDef="let point">
      <mat-slide-toggle [checked]="!!point.disponiblePoint" (toggleChange)="point.disponiblePoint = !point.disponiblePoint; toggleAccessibilite(point.idPoint, point.disponiblePoint)">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let point">
      <button mat-raised-button (click)="modifPointPopUp(point)">Modifier</button>
      <button mat-button color="warn">Supprimer</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="colonnesList"></tr>
  <tr mat-row *matRowDef="let row; columns: colonnesList;"></tr>
</table>
</cdk-virtual-scroll-viewport>
