<mat-toolbar>
  <span style="margin-right: 2em;">Administration du site</span>
  <button mat-stroked-button routerLink="/adminPoints" color="primary" style="margin-right: 1em;">Points</button>
  <button mat-stroked-button routerLink="/adminCategories" color="primary" style="margin-right: 1em;">Catégories</button>
  <button mat-stroked-button routerLink="/adminParcours" color="primary" style="margin-right: 1em;">Parcours</button>
  <button mat-stroked-button routerLink="/adminPointsParcours" color="primary" style="margin-right: 1em;">PointsParcours</button>
</mat-toolbar>
