<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Liste des Parcours diponnibles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-radio-group
        aria-labelledby = "parcoursRadio"
        class = 'parcoursRadio'
        [(ngModel)]="parcoursNum"
        (change)="loadParcours()"
      >
        <div *ngFor="let parcours of this.parcoursList" class="form-inline">
          <mat-radio-button [value]="parcours.idParcours">{{parcours.nameParcours}}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div *ngFor="let p of currentParcoursPoints"  class="text-center bg-dark text-white">
        <mat-card>
          <mat-card-title>{{p.namePoint}}</mat-card-title>
          <mat-card-subtitle *ngIf="this.p.vernaculairePoint">{{this.p.vernaculairePoint}}</mat-card-subtitle>
          <mat-card-content>{{p.descriptionPoint}}</mat-card-content>
          <mat-card-actions>
            <button mat-flat-button [routerLink]="['/pointInfo', p.idPoint]">Info</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<footer class="footer green">
  <div class="container-fluid text-center text-md-left text-muted">
    <div class="col-sm-1">Envie d'une version papier ? la version pdf complète
      <a mat-flat-button href="../../../assets/Parcours%20arbre%20remarquable.pdf" download="Paroucours_Arbres_Remarquables">
        ici
        <fa-icon [icon]="faDownload"></fa-icon>
      </a>
    </div>
  </div>
</footer>
