<div class="main-container">
  <mat-card>
    <mat-card-title>Liste des Parcours diponnibles</mat-card-title>
    <mat-list>
      <mat-radio-group aria-labelledby = "parcoursRadio" class = 'parcoursRadio' [(ngModel)]="parcoursNum" (change)="loadParcours()">
        <mat-list-item *ngFor="let parcours of this.parcoursList" class="form-inline">
          <mat-radio-button [value]="parcours.idParcours">{{parcours.nameParcours}}</mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

    <mat-card-content>
      <div *ngIf="this.parcours && this.parcours_points">
        <mat-card-subtitle> Nombre d'arrêtes : {{numberOfPoints()}}</mat-card-subtitle>
      </div>
      <div *ngIf="this.parcours && this.parcours_points">
        <img mat-card-image class="images" id="parcours-points" src={{parcours_points}} width="500px" height="auto"> <br>
        <img mat-card-image class="images" id="parcours" src={{parcours}}  width="500px" height="auto">
      </div>

      <div *ngIf="this.parcours && this.parcours_points">
        <mat-card-actions>
          <mat-list>
            <mat-list-item>
              <button mat-raised-button color="primary" [routerLink]="['/map', this.parcoursNum]">Lancer le Trajet</button>
            </mat-list-item>
            <mat-list-item>
              <a mat-raised-button color="accent" href="../../assets/Parcours/'{{this.parcoursName}}'.png'" download="Paroucours_{{this.parcoursName}}">Version PDF de la carte
                <fa-icon [icon]="faDownload"></fa-icon></a>
            </mat-list-item>
            <mat-list-item>
              <a mat-raised-button color="accent" href="../../assets/Parcours/'{{this.parcoursName}}-Points'.png'" download="Paroucours_{{this.parcoursName}}-Points">Version PDF de la liste des arrêts
                <fa-icon [icon]="faDownload"></fa-icon></a>
            </mat-list-item>
          </mat-list>
        </mat-card-actions>
      </div>
    </mat-card-content>

  </mat-card>
  <footer class="footer green">
    <div class="container-fluid text-center text-md-left text-muted">
      <div>Envie d'une version papier ? la version pdf complète
        <a mat-raised-button href="../../../assets/Parcours%20arbre%20remarquable.pdf" download="Paroucours_Arbres_Remarquables">
          ici
          <fa-icon [icon]="faDownload"></fa-icon>
        </a>
      </div>
    </div>
  </footer>
</div>
