#map {
  height: 85vh;
}

.leftSide {
  bottom: 1em;
  position: absolute;
  z-index: 1000;
  left: 1%;
}

.rightSide {
  bottom: 1em;
  position: absolute;
  z-index: 1000;
  right: 1%;
}

.routingButton {
  width: 10em;
}

#toogleCenter {
  margin-bottom: 2em;
}

#toogleLegendRoute {
  margin-bottom: 5em;
}

#routingButton {
  background-color: white;
  margin-bottom: 2em;
}

#routingButtonStop {
  background-color: white;
  margin-bottom: 2em;
}

#sideOpenner {
  background-color: white;
  margin-bottom: 5em;
}

#AddAllPoints{
  background-color: white;
  margin-bottom: 8em;
}

#AddSecondPart{
  background-color: white;
  margin-bottom: 8em;
}

#clearRouteBtn{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

