#map {
  height: 85vh;
}

.rightSide {
  position: absolute;
  z-index: 1000;
}

#toogleCenter {
  margin-top: 1em;
  right: 1%;
}

#routingButton {
  background-color: white;
  margin-top: 3em;
  right: 1%;
}

#sideOpenner {
  background-color: white;
  margin-top: 6em;
  right: 1%;
}
