
<mat-card id="pointListCard">
  <mat-card-title> Type de points souhaité</mat-card-title>
  <mat-list class="list-horizontal" >
    <mat-list-item *ngFor="let categorie of categList" class="form-inline">
      <mat-radio-button id="{{categorie.idCategorie}}" value="{{categorie.idCategorie}}" name="categList" (change)="selectPointsFromCategorie()" [checked]="categorie.idCategorie === 1" >
        <fa-icon [icon]="faTree" style="color: #43a047"></fa-icon> {{categorie.nameCategorie}}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>

  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" id="loader" style="color: #43a047; z-index: 100"></span>

  <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
    <div *cdkVirtualFor="let p of pointListSelected"  class="text-center text-white">
      <mat-card>
        <mat-card-title class="mat-body-strong">{{p.namePoint}} <span *ngIf="!p.disponiblePoint" style="color: red"> Non accessible </span> </mat-card-title>
        <mat-card-subtitle *ngIf="this.p.vernaculairePoint">{{this.p.vernaculairePoint}}</mat-card-subtitle>
        <mat-card-content>{{p.descriptionPoint}}</mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/pointInfo', p.idPoint]">Info</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</mat-card>
