<body>
<div class="loader" *ngIf="loading" >
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<mat-card class="point-card" *ngIf="!loading">
  <mat-card-header>
    <mat-card-title><u>{{point.namePoint}}</u> <span *ngIf="!point.disponiblePoint" style="color: red"> Non accessible </span> </mat-card-title>
    <mat-card-subtitle *ngIf="point.vernaculairePoint">{{point.vernaculairePoint}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image id="imageHeader" [src]="this.wikiDescImg">
  <mat-card-content>
    <p>
      {{point.descriptionPoint}}
    </p>
    <p *ngIf="this.wikiDesc">
      <u>Description Wikipedia : </u><br>
      {{wikiDesc}}
    </p>
    <p id="wiki"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="previous" [routerLink]="['/pointList']" >Retour</button>
    <button mat-raised-button id="goToWiki" (click)="goToWiki(point.namePoint)" *ngIf="this.wiki">Page Wikipedia</button>
  </mat-card-actions>
</mat-card>
</body>
