<app-admin></app-admin>

<mat-form-field style="width: 80%; left: 10% ">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" style="horiz-align: center">
</mat-form-field>
<cdk-virtual-scroll-viewport itemSize="10" class="viewport">
  <table mat-table [dataSource]="pointsList" style="width: 100%">

    <ng-container matColumnDef="idPoint">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let point" style="padding: 1em 2em 1em ;"> {{point.idPoint}} </td>
    </ng-container>

    <ng-container matColumnDef="namePoint">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let point" style="padding: 1em 1em 1em 0;"> {{point.namePoint}} </td>
    </ng-container>

    <ng-container matColumnDef="vernaculairePoint">
      <th mat-header-cell *matHeaderCellDef> Nom Vernaculaire </th>
      <td mat-cell *matCellDef="let point" style="padding: 1em 1em 1em 0;"> {{point.vernaculairePoint}} </td>
    </ng-container>

    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let point" style="padding: 1em 1em 1em 0;"> {{point.categorie}} </td>
    </ng-container>

    <ng-container matColumnDef="disponiblePoint">
      <th mat-header-cell *matHeaderCellDef> Accessible </th>
      <td mat-cell *matCellDef="let point" style="padding: 1em 2em 1em 0;">
        <mat-slide-toggle [checked]="!!point.disponiblePoint" (toggleChange)="point.disponiblePoint = !point.disponiblePoint; toggleAccessibilite(point.idPoint, point.disponiblePoint)">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let point; let i = index" style="width: 15%">
        <button mat-raised-button color="primary" (click)="modifPointPopUp(point)">Modifier</button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="supprimerPoint(point.idPoint, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colonnesList"></tr>
    <tr mat-row *matRowDef="let row; columns: colonnesList;" style="height: 3em"></tr>
  </table>
</cdk-virtual-scroll-viewport>
